<% headline = defined?(@team) ? @team.name : 'Alla lag' %>
<% content_for :title, headline %>

<h1><%= headline %></h1>

<ul class="teamlist">
  <% @players.each do |p| %>
  <li><%= p.name %></li>
  <% end%>
</ul>